.global-btn {
  background-color: white;
  position: relative;
  color: gray;
  border: 2px solid white;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 0;
  font-weight: bold;
  mix-blend-mode: screen;
}

.global-btn:hover {
  background-color: transparent;
  color: white;
}
