.btn-transparent-white{
    position: relative;
    padding: 0.5em 1em;
    font-size: 1.2em;
    border: none;
    background: none;
    outline: none;
    mix-blend-mode: screen;
    border: 2px solid white;
}

.btn-transparent-white::before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    border-radius: 0.3em;
    content: '';
    mix-blend-mode: color-burn;
}


/* .btn-transparent-white{
    color: rgba(0, 0, 0, 0);

} */

.btn-transparent-white:hover{
    color: white;
    background-color: transparent;
    border: 2px solid white;
    mix-blend-mode: normal;
    transition: 0.5s;
}
