/* GLOBAL */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.row {
  --bs-gutter-x: 0 !important;
}

body {
  background-color: transparent;
  font-family: "Nunito", sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Chrome */
::-webkit-scrollbar {
  display: none;
}

h1 {
  text-decoration: underline;
  text-decoration-color: #ff00ff;
}

h1,
h2,
h3,
h4,
nav {
  font-family: "Poppins", sans-serif;
}

ul {
  padding: 0 !important;
  list-style: none;
}

button {
  font-size: 14px !important;
  font-family: "Poppins", sans-serif;
}

/* PAGES */

/* Layout */

.landing {
  padding: 7rem 0;
  min-height: 80vh;
}

.landing-img {
  width: 100%;
}

.mail {
  position: absolute;
  top: 0;
  right: 0;
  height: 76px;
  padding: 5px 25px;
  background-color: white;
  border-radius: 0 0 0 15px;
  z-index: 2;
  transition: 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  outline: none !important;
  border: none;
}

.mail i {
  font-size: 2rem;
}

.mail:hover {
  cursor: pointer;
  background-color: transparent;
  color: white;
}

@media screen and (max-width: 992px) {
  .mail {
    display: none;
  }
}

/* index */

.scroller {
  position: absolute;
  top: 75.5px;
  right: 0;
  height: 79.9vh;
  width: 50%;
  overflow-y: scroll;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .scroller {
    display: none;
    width: 0px;
  }
}

.scroller-img {
  /* width: 80%; */
  position: relative;
}

.scroller-name {
  position: absolute;
  z-index: 10;
  bottom: 0;
  padding: 1rem 2rem;
  background: rgb(175, 4, 160);
  border-radius: 0 10px 0 0;
}

.home {
  background: rgb(175, 4, 160);
  background: linear-gradient(
    45deg,
    rgba(175, 4, 160, 1) 48%,
    rgba(222, 34, 85, 1) 88%
  );
  color: whitesmoke;
  position: relative;
}

#home-btn {
  background-color: transparent;
  color: whitesmoke;
  border: 2px solid whitesmoke;
}

#home-btn:hover {
  background-color: white;
  border: 2px solid transparent;
  transition: 0.2s ease-in-out;
  color: black;
}

.mask {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgb(175, 4, 160);
  background: linear-gradient(
    45deg,
    rgba(175, 4, 160, 1) 48%,
    rgba(222, 34, 85, 1) 88%
  );
  opacity: 0.6;
  transition: 0.2s ease-in-out;
}

.mask:hover {
  opacity: 0;
}

.mask:hover .scroller-name {
  opacity: 0;
}

/* project */

.landing-2 {
  padding-top: 7rem;
  min-height: 80vh;
}

.project {
  background-image: linear-gradient(
    to right top,
    #8b1818,
    #961717,
    #a21515,
    #ad1313,
    #b91010
  );
  color: whitesmoke;
}

.arrow {
  transform: rotate(210deg);
  width: 100%;
  margin-bottom: 3.5rem;
  animation: appear 1s;
}

@media screen and (max-width: 992px) {
  .arrow {
    display: none;
  }
}

.project-display {
  background-image: linear-gradient(
    to right top,
    #4f0f0f,
    #530e0e,
    #570c0c,
    #5a0a0a,
    #5e0808
  );
  padding-top: 8rem;
}

.project-display img {
  height: 170px;
  width: 100%;
}

#project-btn {
  background-color: transparent;
  color: whitesmoke;
  border: 2px solid whitesmoke;
}

#project-btn:hover {
  background-color: #6a0101;
  border: 2px solid #6a0101;
  transition: 0.2s ease-in-out;
  color: whitesmoke;
}

/* services */

.services {
  background: linear-gradient(to top right, #208831 53%, #00bd2f 84%);
  color: whitesmoke;
}

.services .service i {
  font-size: 4rem;
}

.services .service {
  border-radius: 15px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.services .service:hover i {
  color: #28ff4a;
}

/* connect */

.connect {
  background: linear-gradient(to bottom left, #dc6d18 51%, #ffbc47 100%);
  color: whitesmoke;
}

.connect-links {
  font-size: 2rem;
}

.connect-links i {
  padding: 0.5rem;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
  color: whitesmoke;
}

.connect-links i:hover {
  background-color: whitesmoke;
  color: #ff6f00;
}

.connect form {
  padding: 2rem 1rem;
  background-color: whitesmoke;
  border-radius: 15px;
}

.connect form label {
  color: #4f4f4f !important;
}

.connect-form button {
  background: #ff6f00;
  border: 2px solid #ff6f00;
  transition: 0.2s ease-in-out;
}

.connect form button:hover {
  background: whitesmoke;
  color: #ff6f00;
  border: 2px solid #ff6f00;
}

/* winaflat */

.winaflat {
  background-image: linear-gradient(
    to right top,
    #3dd1d1,
    #00c7e2,
    #00bbee,
    #40adf2,
    #719ced
  );
  color: whitesmoke;
}

/* Malcolm Wall */

.malcolm-wall {
  background-image: linear-gradient(
    to bottom,
    #1a1b25,
    #3b3e50,
    #5f6581,
    #848fb4,
    #abbbeb
  );
  color: whitesmoke;
}

/* Green-Acre */

.green-acre {
  background-image: linear-gradient(
    to right top,
    #256b21,
    #257c22,
    #228d23,
    #1e9e23,
    #16b023
  );
  color: whitesmoke;
}

.tenants-hub {
  background-image: linear-gradient(
    to right top,
    #136af0,
    #2e65ef,
    #4060ed,
    #4e5aeb,
    #5b54e9
  );
  color: whitesmoke;
}

.project-content {
  background-color: whitesmoke;
  color: #4f4f4f;
}

.project-desktop {
  margin-top: -8rem;
  width: 100%;
}

.project-mobile {
  width: 100%;
  max-width: 500px;
}

.project-link {
  background-color: #3fb5ef;
  /* color: whitesmoke; */
  transition: 0.2s ease-in-out;
}

.project-link:hover {
  background-color: transparent;
}

.project-link a {
  color: whitesmoke;
}

.project-link:hover a {
  text-decoration: underline;
  color: #3fb5ef;
}

.project-end {
  /* background-color: #0a755b; */
  padding: 4rem 0;
  color: white;
}

.reverse {
  flex-direction: row-reverse;
}

/* COMPONENTS */

/* Message */

.message {
  position: fixed;
  right: 0;
  z-index: 10;
  top: 0;
  min-height: 100vh;
  background-color: whitesmoke;
  color: black;
  padding: 0 4rem;
  max-width: 500px;
  /* border-left: 4px solid black; */
  animation: appear 0.5s;
}

@keyframes appear {
  0% {
    opacity: 0;
    right: -500px;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

.close {
  position: absolute;
  top: 0;
  right: 20px;
  height: 75px;
  padding: 5px 25px;
  border-radius: 0 0 0 15px;
  z-index: 2;
  font-size: 2rem;
  transition: 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1266f1;
}

.message-contact {
  margin-top: 4rem;
}

.message a {
  color: darkblue;
  transition: 0.2s ease-out;
}

.message a:hover {
  opacity: 0.7;
}

.message i {
  font-size: 3rem;
}

.booking {
  margin-top: 5rem;
}

/* Navbar */

nav {
  position: relative;
}

nav ul {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

/* Footer */
.footer {
  background: rgba(0, 0, 0, 0.8);
}

footer {
  padding: 2rem;
  color: white;
}

footer h5 {
  text-decoration: underline;
}

.footer-links li {
  color: whitesmoke;
}

.footer-links li:hover {
  opacity: 0.6;
}
