.home {
  background: rgb(123, 38, 157);
  background: linear-gradient(
    45deg,
    rgba(123, 38, 157, 1) 18%,
    rgba(214, 66, 118, 1) 54%
  );
  color: whitesmoke;
  position: relative;
  min-height: 100vh;
}

@media screen and (max-width: 991px) {
  .home {
    background: rgb(123, 38, 157);
    background: linear-gradient(
      45deg,
      rgba(123, 38, 157, 1) 41%,
      rgba(214, 66, 118, 1) 79%
    );
  }
}

/* Scroller */

.scroller {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50%;
  overflow-y: scroll;
  cursor: pointer;
  /* scroll-behavior: smooth; */
}

@media screen and (max-width: 991px) {
  .scroller {
    display: none;
  }
}

.scroller-img {
  position: relative;
  overflow: hidden;
}

.landing-img {
  transition: 0.8s ease-in-out;
}

.scroller-img:hover .landing-img {
  transform: scale(1.1);
}

@media screen and (max-width: 992px) {
  .scroller-name {
    padding: 0.3rem 1rem;
    font-size: 12px;
  }
}

/* Grid */

.grid img {
  height: 100%;
}

@media screen and (min-width: 992px) {
  .grid {
    display: none;
  }
}

/* Mask */

.mask {
  min-height: 100%;
  width: 100%;
  left: 50%;
  background-color: rgb(123, 38, 157);
  position: fixed;
  z-index: 0;
}

.scroll-point {
  display: flex;
  flex-direction: row;
  align-items: center;
  pointer-events: none;
}

@media screen and (max-width: 992px) {
  .scroll-option {
    margin-top: 200px;
    pointer-events: none;
  }

  .scroll-point {
    pointer-events: auto;
  }
}

@media screen and (max-width: 350px) {
  .scroll-option {
    margin-top: 120px;
    pointer-events: auto;
  }
}
