.home {
  background: rgb(123, 38, 157);
  background: linear-gradient(
    45deg,
    rgba(123, 38, 157, 1) 18%,
    rgba(214, 66, 118, 1) 54%
  );
  color: whitesmoke;
  position: relative;
  min-height: 100vh;
}

@media screen and (max-width: 991px) {
  .home {
    background: rgb(123, 38, 157);
    background: linear-gradient(
      45deg,
      rgba(123, 38, 157, 1) 41%,
      rgba(214, 66, 118, 1) 79%
    );
    text-align: center;
  }
  .home h1 {
    font-size: 2.4rem;
  }
}

/* Scroller */

.scroller {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50%;
  overflow-y: scroll;
  cursor: pointer;
  /* scroll-behavior: smooth; */
}

@media screen and (max-width: 991px) {
  .scroller {
    display: none;
  }
}

.scroller-img {
  position: relative;
  overflow: hidden;
}

.landing-img {
  transition: 0.8s ease-in-out;
}

.scroller-img:hover .landing-img {
  transform: scale(1.1);
}

@media screen and (max-width: 992px) {
  .scroller-name {
    padding: 0.3rem 1rem;
    font-size: 12px;
  }
}

/* Grid */

.grid {
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
}
/* Mask */

.mask {
  min-height: 100%;
  width: 100%;
  left: 50%;
  background-color: rgb(123, 38, 157);
  position: fixed;
  z-index: 0;
}

.scroll-point {
  display: flex;
  flex-direction: row;
  align-items: center;
  pointer-events: none;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* .scroll-option {
  display: none;
} */

@media screen and (max-width: 992px) {
  .scroll-option {
    display: block;
    margin-top: 200px;
    pointer-events: none;
  }

  .scroll-point {
    pointer-events: auto;
    justify-content: center;
  }
}

@media screen and (max-width: 350px) {
  .scroll-option {
    margin-top: 120px;
    pointer-events: auto;
  }
}

@media screen and (max-width: 350px) {
  .scroll-option {
    margin-top: 5px;
    pointer-events: auto;
  }
}

/* TEST DISPLAY */

.index-projects-display {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.test-project-img {
  height: 49vh;
  position: relative;
  background-size: cover;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.test-project-info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: whitesmoke;
  color: rgb(123, 38, 157);
  transition: 0.2s ease-in-out;
  z-index: 2;
}

.test-project-info p {
  margin-bottom: 0;
  color: #232858;
}

.test-project-img:hover .test-project-info {
  background-color: #232858;
  color: rgba(214, 66, 118, 1);
}

.test-project-img:hover .test-project-info p {
  color: whitesmoke;
}

#green-acre {
  background-image: url("/images/greenacre.jpg");
}

#win-a-flat {
  background-image: url("/images/win-a-flat.jpg");
}

#tenant-hub {
  background-image: url("/images/tenanthub.jpg");
}

#malcolm-wall {
  background-image: url("/images/malcolm-wall.jpg");
}

@media screen and (max-width: 992px) {
  .index-projects-display {
    position: relative;
    width: 100%;
  }
  .test-project-img {
    height: 25vh;
    border-bottom: 5px solid rgb(123, 38, 157);
  }
}
